.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
}

.cardWrapper {
  background-color: white;
  margin: 20px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 10px 5px 5px rgb(57, 95, 170);
  min-width: 17vw;
  font-weight: bolder;
  text-decoration: none;
  min-height: 280px;
}

.cardtype {
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.cardWrapper:hover {
  background-color:  rgb(57, 95, 170);
  color: white;
  box-shadow: 5px 5px 5px rgb(179, 197, 12);
  text-decoration: none;
}

.tipos{
  padding: 10px;
  margin: 5px;
  text-decoration: none;
}


.card-title {
  font-weight: bolder;
  font-style: oblique;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

