.all6 {
  background-color: yellow;
  min-height: 45vw;
  text-decoration: none;
}

.crearPokemon3 {
  margin-top: 20px;
  right: 20px;
  position: absolute;
  float: right;
  display: flex;
  align-items: center;
}

.volver3 {
  cursor: pointer;
  font-weight: 700;
  font-family: sans-serif;
  padding: 10px 20px;
  border-radius: 100px;
  background: rgb(57, 95, 170);
  display: flex;
  align-items: center;
  font-size: 16px;
  color: black;
  border: none;
  text-decoration: none;
  box-shadow: 3px 3px 3px white;
}

.section {
  background-color: white;
  border-radius: 15px;
  box-shadow: 10px 5px 5px rgb(57, 95, 170);
  min-width: 17vw;
  font-weight: bolder;
  text-decoration: none;
  min-height: 280px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  top: 25vh;
  left: 5vw;
  right: 5vw;
  min-height: 30vw;
  max-height: 30vw;
}

.titulos {
  color: rgb(57, 95, 170);
  text-align: center;
  font-family: "Baloo Paaji", cursive;
  font-size: 35px;
  font-weight: 900;
  width: 30vw;
  margin: 0;
  display: flex;
  justify-content: space-around;
  position: absolute;
  left: 35vw;
  right: 35vw;
  top: 15vh;
}

.article {
  color: black;
  width: 80%;
  font-family: "Arial", sans-serif;
  font-weight: light;
  font-size: 18px;
}

.primercolumna {
  position: absolute;
  left: 30px;
  width: 50%;
  top: 15px;
}

.nombrenuevo {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  width: 100%;
  max-width: 100%;
  top: 10px;
}

.labelnombrenuevo {
  flex: auto;
  width: 16.66666667%;
  padding-top: 2px;
  line-height: 1.5;
}

.inputttt {
  flex: 0 0 auto;
  width: 80%;
}
.inputname {
  position: absolute;
  display: block;
  width: 50%;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(57, 95, 170);
  border: 1px solid rgb(57, 95, 170);
  margin-left: 5px;
  box-shadow: 5px 5px 5px rgb(57, 95, 170);
  font-weight: bold;
  font-family: sans-serif;
  font-size: 15px;
  outline: none;
  padding-left: 10px;
  border-radius: 10px;
}

.labelnombrenuevo5 {
  flex: auto;
  width: 16.66666667%;
  padding-top: 2px;
  line-height: 1.5;
}

.inputttt5 {
  flex: 0 0 auto;
  width: 80%;
}
.inputname5 {
  position: absolute;
  display: block;
  width: 50%;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(57, 95, 170);
  border: 1px solid rgb(57, 95, 170);
  margin-left: 20px;
  box-shadow: 5px 5px 5px rgb(57, 95, 170);
  font-weight: bold;
  font-family: sans-serif;
  font-size: 15px;
  outline: none;
  padding-left: 10px;
  border-radius: 10px;
}

.segundacolumna {
  left: 41%;
  position: absolute;
  width: 50%;
  top: 12px;
}

.botoncrear {
  position: absolute;
  cursor: pointer;
  font-weight: 700;
  font-family: sans-serif;
  padding: 10px 20px;
  border-radius: 100px;
  background: rgb(57, 95, 170);
  display: flex;
  align-items: center;
  font-size: 16px;
  color: black;
  border: none;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  box-shadow: 3px 3px 3px white;
  left: 73vw;
  right: 5vw;
  top: 55vh;
}

.listatipos {
  position: absolute;
  left: 20px;
  display: flex;
  flex-direction: column;
  max-height: 30vh;
}

.inputttt2 {
  flex: 0 0 auto;
  width: 10%;
}
.inputname2 {
  position: absolute;
  display: block;
  width: 10%;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(57, 95, 170);
  border: 1px solid rgb(57, 95, 170);
  margin-left: 20px;
  box-shadow: 5px 5px 5px rgb(57, 95, 170);
  font-weight: bold;
  font-family: sans-serif;
  font-size: 15px;
  outline: none;
  padding-left: 10px;
  border-radius: 10px;
}

.tiposss {
  display: flex;
  height: 30px;
  min-width: 120px;
}

.labelnombrenuevotipo {
  position: absolute;
  left: 35px;
}

.nombrenuevotipos {
  position: absolute;
  left: 90px;
  width: 250px;
  height: 50px;
}

.nombrenuevotipos2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 50vw;
}

.checkso {
  border: 2px solid rgb(57, 95, 170);
  line-height: 1.5;
  font-weight: bold;
}

.segucolumna {
  position: absolute;
  left: 230px;
  width: 100%;
}

.primcolumna {
  position: absolute;
  left: 0px;
  width: 100%;
}

.columna3 {
  left: 71%;
  position: absolute;
  top: 12px;
  color: red;
  display: inline;
  flex-direction: row;
  max-width: 305px;
  text-align: left;
  font-size: 14px;
}
